---
title: _kitchen
---

<main>
  <p>
  	I am a cute person hi
  </p>

  <h2>Things</h2>

  <ul>
    $partial("templates/post-list.html")$
  </ul>
  <!--<a href="/archive.html">archives</a>-->
</main>
