<div class = "thumbnails">
	$if(posts)$
		$for(posts)$
			$if(thumbnail)$
				<a href="$url$">
					<img class="projectlistimg" width = "" src="/images/$thumbnail$" alt="" />
				</a>
				<!--<p>$title$</p>-->
			$else$
				<a class="" href="$url$">
					<p>$date$ -:- $title$</p>
				</a>
			$endif$
		$endfor$
	$endif$

	<script>
		jQuery("div.thumbnails").randomize("a");
	</script>
</div>
