body {
  font: normal 120%/1.4 "Whitney A", "Whitney B", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #4A4A4A;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img.Image {
  max-width: 1024px;
}

/* Page Elements */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  text-decoration: none;
}

a {
  color: #CB004A;
  text-decoration: none;
}

a {
  transition: color .1s ease-out;
}

a:hover, a:visited {
  color: #76002B;
}

blockquote {
  border-left: 3px solid #CB004A;
  margin: 5px;
  padding: 1em;
}

hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #CB004A;
  color: #CB004A;
}

pre, code {
  font-size: 0.90em;
  font-family: Menlo, monospace;
}

pre {
  overflow: auto;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid #4A4A4A;
  padding: 5px;
}

img, embed, object, video,  .embed {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

figcaption, p.caption {
  font-size: 0.90em;
  text-align: center;
}

iframe {
  display:block;
  margin:auto;
}

ul li{
  list-style: none;
}

/* Layout */
header h1 {
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 0.5em;
}

body > footer {
  margin: 2em 0 2em 0;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  body {
   width: 95%;
  }
}
